<div class="container">

  <h3>Directorio actual: {{archivo.directorio_padre}}</h3>
  <h3>Propietario: {{archivo.propietario}}</h3>
  <h3 *ngIf="archivo.usuario_compartido!=null" >Compartido: {{archivo.usuario_compartido}}</h3>
  <h3>Creacion: {{archivo.fecha_creacion}}</h3>

  <img *ngIf="enCompartido" src="assets/img/delete1.png" class="me-3 cursor" (click)="eliminarArchivoCompartido()">
  <div style="display: flex; align-items: center;" class="mb-5" *ngIf="!enPapelera  && !enCompartido">
    <img src="assets/img/delete1.png" class="me-3 cursor" (click)="eliminarArchivo()">
    <button type="button" class="btn btn-warning" (click)="copiarArchivo()">Copiar</button>
    <button type="button" class="btn btn-warning ms-4" (click)="renombrarArchivo()">Editar nombre</button>
    <button type="button" class="btn btn-warning ms-4" (click)="moverArchivo()">Mover</button>
    <p class="ms-2 mt-2">Nuevo directorio del archivo: {{nuevoDirectorio}}</p>
  </div>

  <div>
    <h1 class="text-center">{{archivo.nombre}}{{archivo.extension}}</h1>
    <div class="row">
      <div class="col-12 mt-4" style="height: 60vh">
        <ngs-code-editor [theme]="theme" [codeModel]="codeModel" [options]="options" style="height: 100%">
        </ngs-code-editor>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!enPapelera  && !enCompartido">
    <div class="d-flex justify-content-center mt-5">
      <button class="btn btn-success" (click)="editarContenido()">
        Guardar cambios
      </button>
    </div>
  </div>

  <div class="form__group" *ngIf="!enPapelera && !enCompartido">
    <h1 class=" text-center mt-5">Usuarios a compartir</h1>
    <label for="searchInput">Buscar nombre:</label>
    <input type="text" id="searchInput" list="nameList">
    <datalist id="nameList">
        <option *ngFor="let usuario of usuarios" [value]="usuario.usuario"></option>
    </datalist>

    <button type="button" class="btn btn-success ms-2 btn-sm" (click)="agregarUsuario()" >Agregar</button>

    <div class="mt-4">
      <table class="table table-striped table-bordered">
        <thead class="table table-dark">
          <tr>
            <th></th>
            <th>Usuario</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuariosSeleccionados; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ usuario }}</td>
            <td>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="quitarUsuario(i)" >Quitar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="d-flex justify-content-center mt-5">
        <button type="button" class="btn btn-success ms-2 " (click)="compartirArchivo()" >
          Compartir archivo
        </button>
      </div>
    </div>

  </div>

</div>